@use "../variables" as *;

section.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  @include bgcover;
  transition: all 400ms ease;
  position: relative;

  &::before {
    @include before;
    background-color: $black;
    opacity: 70%;
    z-index: 1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transition: all 400ms ease;
    z-index: 2;
  }

  h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 120%;
    animation: aparecerTitulo 0.8s ease-out both;
    transition: all 400ms ease;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 60px;
    }

    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}