@use "../variables" as *;

.btn {
  width: 100%;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: $yellow;
  color: $green-dark;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all 400ms ease;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    font-size: 18px;
  }

  &.large {
    width: fit-content;
  }

  &:hover {
    transform: scale(0.9);
  }
}

.decoration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;

  &.green {
    .line {
      background: $green;
    }
  }

  &.yellow {
    .line {
      background: $yellow;
    }
  }

  .line {
    height: 8px;
    width: 100%;
    max-width: 100px;
  }

  h3 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 5.8px;
    text-transform: uppercase;
  }

  i {
    font-size: 32px;
    color: $yellow;
  }
}