@use "../variables" as *;

.btn {
  width: fit-content;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: $yellow;
  color: $green-dark;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all 400ms ease;

  @media screen and (max-width: 1023px) {
    font-size: 18px;
  }

  &:hover {
    transform: scale(0.9);
  }
}

.decoration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .line {
    height: 4px;
    width: 100%;
    max-width: 100px;
    background: $green;
  }

  i {
    font-size: 32px;
    color: $yellow;
  }
}