@use "../variables" as *;

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(26 26 26 / 12%);
  backdrop-filter: blur(2px);
  padding: 20px 0;
  z-index: 20;

  .logo {
    max-width: 200px;
  }
}